.container{
    margin: 0 auto 0 auto;  
    width: 450px;
    background-color: white;
    padding: 120px 2rem 0;

}
.new-tweet {
    border: solid lightgray;
    border-radius: 6px;
    background-color: #eee;
    padding-top: 0px;
    display: none;
}
.new-tweet h2 {
    border-bottom: solid 2px #3c3535;;
    margin-top: 0;
}
.new-tweet textarea {
    margin-bottom: 5px;
    width: 100%;
}
.new-tweet footer {
    display: flex;
    justify-content: space-between;
}
.limit {
    color: red;
}

.error {
    display: none;
    color: red;
}